CAS_HOSTNAME=https://cas.mondomain.com
CA_URI=/cas
LDAP_HOSTNAME=ldap://ildap.mondomaine.com:389
LDAP_SEARCH_FILTER="(&(uid={user})(objectclass=sogxuser))"
LDAP_BASE=dc=mondamine,dc=com
LDAP_ATTRIBUTES_LIST=cn,givenName,mail,sn,uid,uid:username
LDAP_BIND_DN=CN=restreint,CN=internal,DC=mondomaine,DC=com
LDAP_BIND_CREDENTIAL=MonMotDePasse!

